@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Georama', sans-serif;
    box-sizing: border-box;
}

*::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(221, 206, 238);
}

.wrapper {
    width: 380px;
    padding: 25px 30px;
    background: white;
    position: relative;
}

.wrapper:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.wrapper:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.top-bar, .progress-area .timer, .control,
.music-list .header,
.music-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    font-size: 30px;
    color: rgba(0, 0, 0, .5);
}

.top-bar span {
    color: rgba(0, 0, 0, .8);
    font-size: 18px;
}
.img-area {
    height: 256px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
    /*background: #777777;*/
}
.img-area img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.song-detail {
    text-align: center;
    margin: 10px 0;
}

.song-detail .name {
    font-size: 21px;
}

.song-detail .artist {
    opacity: .8;
    font-size: 18px;
}

.progress-area {
    height: 6px;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.progress-area .progress-bar {
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(to right, lightpink 0%, #9f6ea3 100%);
    width: 0%;
    position: relative;
}

.progress-bar::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: inherit;
    top: -50%;
    right: -5px;
    background: inherit;
    opacity: 0;
    transition: opacity .1s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
}

.progress-bar .timer {
    margin-top: 3px;
}

.timer span {
    font-size: 13px;
    color: rgba(0, 0, 0, .7);
}

.control {
    margin: 40px 0 5px 0;
}

.control i {
    font-size: 28px;
    user-select: none;
    background: linear-gradient(to right, lightpink 0%, #9f6ea3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.control #next-music {
    font-size: 43px;
    margin-left: -13px;
}

.control #previous-music {
    font-size: 43px;
    margin-right: -13px;
}

.control .play_pause {
    width: 54px;
    height: 54px;
    background: linear-gradient(to right, white 0%, silver 100%);
    box-shadow: 0 0 5px lightpink;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_pause::before {
    content: "";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(to right, lightpink 0%, #9f6ea3 100%);
}

.play_pause i {
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background: inherit;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-list {
    position: absolute;
    left: 0;
    background: white;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
    border-radius: 15px;
    width: 100%;
    padding: 15px 30px;
    pointer-events: none;
    bottom: -30%;
    opacity: 0;
}
.music-list.show{
    pointer-events: auto;
    bottom: 0%;
    opacity: 1;
}
.music-list .header .row {
    display: flex;
    align-items: center;
    font-size: 19px;
}

.header .row span {
    margin-left: 5px;
}

.header #close {
    font-size: 22px;
    color: #777777;
}
.music-list ul::-webkit-scrollbar{
    width: 0;
}
.music-list ul {
    margin: 10px 0px;
    max-height: 160px;
    overflow-y: auto;
}

.music-list ul li {
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #777777;
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    color: black;
    opacity: .9;
    font-size: 17px;
}

.music-list ul li .row p {
    margin-top: 4px;
    font-size: 15px;
    opacity: .9;
}
.audio-duration{
    font-size: 16px;
}

ul li.playing{
    color: violet;
    pointer-events: none;
}
.music-list ul .playing .row span{
    color: violet;
    pointer-events: none;
}
